
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 40px;
  background-color: rgb(61, 56, 56);
  display: flex;
  justify-content: space-between;  
  z-index: 99;
}
.navigation a {
  padding: 25px;
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 3em;
  color: rgb(217, 176, 255);
  text-shadow: 0 0 .5em rgb(217, 176, 255);
  user-select: none;
  border: .25em solid var(--glow-color);
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 1em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

.logo:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 .5em .25em var(--glow-color);
}


.ul {
  text-decoration: underline;
  display: inline;
}
.navigation {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 98;
}

.container > header {
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
  z-index: 98;
}

.title {
  text-align: center;
  font-size: 70px;
  z-index: 100;
  position: absolute;
  color: rgb(217, 176, 255);
  text-shadow: 0 0 .5em rgb(217, 176, 255); 
  transition: all 0.3s;
  top: 30px;
  right: 730px; 
}

.description {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5em;
  z-index: 100;
  position: absolute;
  right: 65px;
  bottom: 220px;
}

.boxes > .align-boxes {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 150px;
  padding-bottom: 550px;
  z-index: 100;
  position: absolute;
  right: 250px;
  top: 250px;
  justify-content: space-between;
  display: inline;
}

.boxes > .align-boxes > button {
  font-size: 23px;
  margin: 100px;
  justify-content: space-between;
  display: inline;
}
.login_btn {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  top: 20px;
}
button {
  --glow-color: rgb(140, 132, 148);
  --glow-spread-color: rgba(107, 107, 117, 0.781);
  --enhanced-glow-color: rgb(240, 240, 240);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }

 .button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 200%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }

 button.button.create {
  --glow-color: rgb(75, 156, 211);
}

button.button.validate {
  --glow-color: rgb(127, 186, 68);
}

button.button.render {
  --glow-color: rgb(237, 85, 101);
}

button.button.create::after {
  background-color: rgba(75, 156, 211, 0.781);
}

button.button.validate::after {
  background-color: rgba(127, 186, 68, 0.781);
}

button.button.render::after {
  background-color: rgba(237, 85, 101, 0.781);
}

.review-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 100;
}

.review {
  flex: 0 1 calc(50% - 20px);
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}

.person {
  color: white;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.review_des {
  color: rgb(255, 255, 255);
  font-size: 1em;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating p {
  color: white;
  font-size: 1em;
  margin-left: 5px;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked ~ label {
  color: #e58e09;
}