
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 40px;
  background-color: rgb(61, 56, 56);
  display: flex;
  justify-content: space-between;
  z-index: 99;
}
.navigation a {
  padding: 25px;
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 3em;
  color: rgb(217, 176, 255);
  text-shadow: 0 0 .5em rgb(217, 176, 255);
  user-select: none;
  border: .25em solid var(--glow-color); /* Glowing border */
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 1em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

.logo:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 .5em .25em var(--glow-color);
}


.ul {
  text-decoration: underline;
  display: inline;
}
.navigation {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.container > header {
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
  z-index: 98;
}

.main-content {
  text-align: center;
  font-size: 70px; /* Adjust font size as needed */
  z-index: 100;
  position: absolute;
  color: rgb(217, 176, 255); /* Set the text color */
  text-shadow: 0 0 .5em rgb(217, 176, 255); /* Apply the glow effect */
  transition: all 0.3s;
  top: 30px;
  right: 730px; 
}

.description {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5em;
  z-index: 100;
  position: absolute;
  right: 65px;
  bottom: 220px;
}

.boxes > .align-boxes {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 150px;
  padding-bottom: 550px;
  z-index: 100;
  position: absolute;
  right: 250px;
  top: 250px;
  justify-content: space-between;
  display: inline;
}

.boxes > .align-boxes > button {
  font-size: 23px;
  margin: 100px;
  justify-content: space-between;
  display: inline;
}
.login_btn {
 
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  top: 20px;
}
button {

  --glow-spread-color: rgba(107, 107, 117, 0.781);
  --enhanced-glow-color: rgb(240, 240, 240);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;

  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }

 .button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 200%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }

 button.button.create {
  --glow-color: rgb(75, 156, 211); /* Blue glow color */
}

button.button.validate {
  --glow-color: rgb(127, 186, 68); /* Green glow color */
}

button.button.render {
  --glow-color: rgb(237, 85, 101); /* Red glow color */
}

button.button.create::after {
  background-color: rgba(75, 156, 211, 0.781); /* Blue glow spread color */
}

button.button.validate::after {
  background-color: rgba(127, 186, 68, 0.781); /* Green glow spread color */
}

button.button.render::after {
  background-color: rgba(237, 85, 101, 0.781); /* Red glow spread color */
}


.login.wrap {
  width: 340px;
  height: 400px;
  background: #2c2c2c;
  padding: 47px;
  color: #fff;
  border-radius: 17px;
  font-size: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 200; /* Ensure modals are on top */
  position: fixed; /* Use fixed to position relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  display: none; /* Start hidden, show with JavaScript */
  border: 2px solid #fff; /* White border */
}


.login input[type="text"],
.login input[type="password"] {
  opacity: 1;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  padding: 13px 18px;
  margin: 20px 0 0 0;
  font-size: 0.8em;
  border-radius: 100px;
  background: #3c3c3c;
  color: #fff;

}

.login input:focus {
  animation: bounce 1s;
  -webkit-appearance: none;
}

.login input[type=submit],
.login input[type=button],
.h1 {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 13px;
  margin: 40px 0 0 0;
  border-radius: 500px;
  font-weight: 600;
  animation: bounce2 1.6s;
}

.h1 {
  padding: 0;
  position: relative;
  top: -35px;
  display: block;
  margin-bottom: -0px;
  font-size: 1.3em;
}

#loginEmail {
  margin-top: 1px;
}

#loginPassword {
  margin-bottom: 50px;
}
.btn {
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: #000000;
  padding: 5px !important;
  bottom: 28px;

}

.btn:hover {
  background: linear-gradient(144deg, #1e1e1e , 20%,#1e1e1e 50%,#1e1e1e );
  color: rgb(255, 255, 255);
  padding: 16px !important;
  cursor: pointer;
  transition: all 0.4s ease;
}

.login input[type=text] {
  animation: bounce 1s;
  -webkit-appearance: none;
}

.login input[type=password] {
  animation: bounce1 1.3s;
}

.ui {
  font-weight: bolder;
  background: -webkit-linear-gradient(#B563FF, #535EFC, #0EC8EE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  border-radius: 4px; /* Rounded corners for the border */
  padding: 4px 8px; /* Padding inside the border */
  display: inline-block; /* Allows applying padding and border */
  cursor: pointer; /* Changes cursor to pointer on hover */
  margin-top: 8px; /* Adds space between the login button and this link */
  text-decoration: none; /* Removes underline from link */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.ui:hover {
  background-color: #fff; /* Changes background to white on hover */
  color: #000; /* Changes text color to black on hover */
}

@media only screen and (max-width: 600px) {
  .login {
    width: 70%;
    padding: 3em;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
}

@keyframes bounce1 {
  0% {
    opacity: 0;
  }

  40% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bounce2 {
  0% {
    opacity: 0;
  }

  70% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.blur-background {
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
}

/* Add the following to your existing CSS */
#btn-message {
  display: none; /* Use flexbox for alignment */
  align-items: center;
  position: absolute; /* Absolute position to place it within the header */
  top: 25px; /* Adjust these values to match the positioning of your login button */
  right: 40px; /* This assumes the button is 40px from the right edge of the viewport */
}


.button-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 var(--font-size) Helvetica Neue, sans-serif;
  box-shadow: 0 0 2.17382px rgba(0,0,0,.049),0 1.75px 6.01034px rgba(0,0,0,.07),0 3.63px 14.4706px rgba(0,0,0,.091),0 22px 48px rgba(0,0,0,.14);
  background-color: #ffffff;
  border-radius: 68px;
  cursor: pointer;
  padding: 6px 10px 6px 6px;
  width: fit-content;
  height: 40px;
  border: 0;
  overflow: hidden;
  position: relative;
  transition: var(--btn-transition);
  z-index: 201;
  
}

.button-message:hover {
  height: auto;
  padding: 8px 20px 8px 8px;
  background-color: #ffffff;
  transition: var(--btn-transition);
}

.button-message:active {
  transform: scale(0.99);
}

.content-avatar {
  width: 30px;
  height: 30px;
  margin: 0;
  transition: var(--btn-transition);
  position: relative;
}

.button-message:hover .content-avatar {
  width: 40px;
  height: 40px;
}



.status-user {
  position: absolute;
  width: 6px;
  height: 6px;
  right: 1px;
  bottom: 1px;
  border-radius: 50%;
  outline: solid 2px var(--bg-color);
  background-color: var(--online-status);
  transition: var(--btn-transition);
  animation: active-status 2s ease-in-out infinite;
}

.button-message:hover .status-user {
  width: 10px;
  height: 10px;
  right: 1px;
  bottom: 1px;
  outline: solid 3px var(--bg-hover-color);
}

.notice-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 8px;
  text-align: initial;
  color: var(--text-color);
}

.username {
  /* Adjust the letter-spacing, opacity, and transition properties as needed */
  opacity: 1; /* Make username visible */
  transform: translateY(0); /* Reset any transformations that may hide the username */
  transition: opacity 0.2s, transform 0.2s; /* Smooth transition for hover effect */
  /* Add other properties for font-size, color, etc., as desired */
}
.user-id {
  font-size: 12px;
  letter-spacing: -6px;
  height: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: var(--btn-transition);
}

.lable-message {
  display: flex;
  align-items: center;
  opacity: 1;
  transform: scaleY(1);
  transition: var(--btn-transition);
}


.button-message:hover .user-id {
  height: auto;
  letter-spacing: normal;
  opacity: 1;
  transform: translateY(0);
  transition: var(--btn-transition);
}

.button-message:hover .lable-message {
  height: 0;
  transform: scaleY(0);
  transition: var(--btn-transition);
}

.lable-message, .username {
  font-weight: 600;
}

.number-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 8px;
  font-size: 12px;
  width: 16px;
  height: 16px;
  background-color: var(--bg-color-sup);
  border-radius: 20px;
}

/*==============================================*/
@keyframes active-status {
  0% {
    background-color: var(--online-status);
  }

  33.33% {
    background-color: #93e200;
  }

  66.33% {
    background-color: #93e200;
  }

  100% {
    background-color: var(--online-status);
  }
}



.validate-container {
  display: flex; /* using flex to center its children */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width of its container */
  max-width: 600px; /* Maximum width of the container, you can adjust as necessary */
  /* No fixed height needed, it should just be the height of its content */
  position: absolute; /* Absolute position to lay on top of other content */
  top: 50%; /* Start at 50% from the top */
  left: 50%; /* Start at 50% from the left */
  transform: translate(-50%, -50%); /* Offset the element to truly center it */
  z-index: 301; /* Higher z-index to ensure it's above other content */
  padding: 20px; /* Padding inside the container */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: add some shadow for depth */
  background: #B563FF; /* Background color of the container */
  color: #fff; /* Text color */
}

.validate-container > .logo {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 150px;
  padding-bottom: 550px;
  z-index: 100;
  position: absolute;
  right: 250px;
  top: 250px;
  justify-content: space-between;
  display: inline;
}

/* Style for the title inside the validate-container */
.validate-container .validate-main h3 {
  margin-top: 10px;
  text-align: center;
  top: 100px;
}

/* Style for the buttons inside the validate-container */
.validate-container button {
  padding: 10px 20px;
  margin: 10px 0; /* Spacing between buttons and other elements */
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Style for the file input inside the validate-container */
.validate-container .file-upload {
  margin: 10px 0; /* Spacing between input and other elements */
}

.main-header.blur-background {
  filter: blur(8px);
}

#results-container {
  background-color: #f8f9fa; /* Light grey background for contrast */
  color: #212529; /* Dark text for readability */
  padding: 20px; /* More padding for better spacing */
  border-radius: 5px; /* Rounded corners for aesthetics */
  margin-top: 20px; /* Space from the top */
  margin-bottom: 20px; /* Space from the bottom */
  width: 90%; /* Responsive width */
  max-width: 960px; /* Maximum width */
  overflow: auto; /* Scrollbar as needed */
  position: relative; /* For precise positioning */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust based on the exact width for centering */
  font-family: 'Courier New', Courier, monospace; /* Monospaced font for JSON */
  white-space: pre-wrap; /* Maintain formatting but wrap as needed */
}

#results-container pre {
  margin: 0; /* Remove default margin */
  font-size: 16px; /* Larger font size for readability */
  line-height: 1.5; /* Spacing between lines */
  white-space: pre-wrap; /* Wrap text to next line */
}

.file-label{
  font-size: 1rem;
}
.file-label svg {
  width: 1rem;
  height: 1rem;
 
}

.button.file-label{
  background-color: #8500a0;
  border-radius: 0.5rem;
}


/* General styles for buttons and layout */
.button {
  --glow-color: rgb(206, 192, 192);
  --glow-spread-color: rgba(216, 203, 203, 0.781);
  --btn-color: rgb(0, 0, 0);
  padding: 1em 3em;
  color: var(--glow-color);
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  transition: all 0.3s;
  
}

.button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
}

/* Specific styles for the create invoice section */
.create-container .button {
  font-size: 23px;
  margin: 10px;
  
}

.create-container .input-field {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #000000;
  border: 1px solid #000000;
  background-color:#999494;
  border-radius: 6px;
}

.create-container .input-field:focus {
  border-color: #ffffff;
  outline: none;
}

.create-container .description {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5em;
}

.create-container {
  display: flex; /* using flex to center its children */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width of its container */
  max-width: 600px; /* Maximum width of the container, you can adjust as necessary */
  /* No fixed height needed, it should just be the height of its content */
  position: absolute; /* Absolute position to lay on top of other content */
  top: 50%; /* Start at 50% from the top */
  left: 50%; /* Start at 50% from the left */
  transform: translate(-50%, -50%); /* Offset the element to truly center it */
  z-index: 301; /* Higher z-index to ensure it's above other content */
  padding: 20px; /* Padding inside the container */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: add some shadow for depth */
  background: #B563FF; /* Background color of the container */
  color: #fff; /* Text color */
}