
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.navigation a {
  padding: 25px;
  font-size: 2em;
  text-decoration: none;
  color: white;
}



.logo {

    text-align: center;
    font-size: 40px;
    z-index: 100;
    position: absolute;
    background-color: rgba(37, 37, 37, 0.9);
    color: rgb(255, 255, 255);
    border: .25em solid rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 0.5em;
    box-shadow: 0 0 1em .25em rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 .5em rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
    user-select: none;
    display: inline-block;
    height: auto; /* Adjusted to auto so it expands based on content */
    line-height: 1.5; /* Adjusted to ensure proper line height */
    position: relative; 
    height: 120px;
}

.logo:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 .5em .25em var(--glow-color);
}


.ul {
  text-decoration: underline;
  display: inline;
}
.navigation {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.container {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background: lightblue;
  background: radial-gradient(
      circle,
      rgb(170, 162, 162),
      #333 30%,
      rgba(88, 84, 84, 0.226) 0%
    ),
    radial-gradient(
      circle at 40px 40px,
      rgb(233, 228, 228),
      #333 30%,
      rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
      circle at 600px 200px,
      rgb(233, 228, 228),
      #333 10%,
      rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
      circle at 800px 100px,
      rgb(233, 228, 228),
      #333 10%,
      rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
      circle at 700px 500px,
      rgb(233, 228, 228),
      #333 2%,
      rgba(88, 84, 84, 0.123) 0%
    ),
    radial-gradient(
      circle at 200px 400px,
      rgb(233, 228, 228),
      #333 1%,
      rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
      circle at 300px 700px,
      rgb(233, 228, 228),
      #333 15%,
      rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
      circle at 900px 500px,
      rgb(233, 228, 228),
      #333 20%,
      rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
      circle at 650px 400px,
      rgb(233, 228, 228),
      #333 10%,
      rgba(88, 84, 84, 0) 0%
    ),
    radial-gradient(
      circle at 600px 600px,
      rgb(233, 228, 228),
      #333 1%,
      rgba(88, 84, 84, 0.959) 0%
    );
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.container > header {
  width: 100%;
  height: 100%;
  background-size: 60px 60px;
  background-position: -5px -5px;
  z-index: 98;
}


.main-content {
  text-align: center;
  font-size: 80px;
  z-index: 100;
  position: absolute;
  background-color: rgba(37, 37, 37, 0.9);
  color: rgb(255, 255, 255);
  border: .25em solid rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 0.5em;
  box-shadow: 0 0 1em .25em rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 .5em rgba(0, 0, 0, 0.7);
  top: 30px;
  right: 730px;
  transition: all 0.3s;
}

.align-boxes {  
  left: 140px;
  right: 20px;
  margin-top: 100px;
}


.description {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  font-size: 1.5em;
  z-index: 100;
  position: absolute;
  right: 65px;
  bottom: 220px;
}

.boxes > .align-boxes {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 150px;
  padding-bottom: 550px;
  z-index: 100;
  position: absolute;
  right: 250px;
  top: 250px;
  justify-content: space-between;
  display: inline;
}

.boxes > .align-boxes > button {
  font-size: 23px;
  margin: 100px;
  justify-content: space-between;
  display: inline;
}

.login_btn {
  font-size: 80px;
  z-index: 100;
  background-color: rgba(37, 37, 37, 0.9);
  color: rgb(255, 255, 255);
  border: .25em solid rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 0.5em;
  box-shadow: 0 0 1em .25em rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 .5em rgba(0, 0, 0, 0.7);
  font-size: 30px;
  transition: all 0.3s;
}

button {
  --glow-spread-color: rgba(107, 107, 117, 0.781);
  --enhanced-glow-color: rgb(240, 240, 240);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;

  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }



.render-page {
  text-decoration: none;
  /* color: black;  */
}

 .button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 200%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }

 button.button.create {
  --glow-color: rgb(231, 234, 235); /* Blue glow color */
}

button.button.validate {
  --glow-color: rgb(232, 232, 232); /* Green glow color */
}

button.button.render {
  --glow-color: rgb(240, 237, 237); /* Red glow color */
}

button.button.create::after {
  background-color: rgba(234, 238, 240, 0.781); /* Blue glow spread color */
}

button.button.validate::after {
  background-color: rgba(247, 252, 242, 0.781); /* Green glow spread color */
}

button.button.render::after {
  background-color: rgba(235, 231, 231, 0.781); /* Red glow spread color */
}


.login.wrap {
  width: 340px;
  height: auto;
  background: #2c2c2c;
  padding: 47px;
  color: #fff;
  border-radius: 17px;
  font-size: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 200; /* Ensure modals are on top */
  position: fixed; /* Use fixed to position relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  display: none; /* Start hidden, show with JavaScript */
  border: 2px solid #fff; /* White border */
}


.login input[type="text"],
.login input[type="password"] {
  opacity: 1;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  padding: 13px 18px;
  margin: 20px 0 0 0;
  font-size: 0.8em;
  border-radius: 100px;
  background: #3c3c3c;
  color: #fff;

}

.login input:focus {
  animation: bounce 1s;
  -webkit-appearance: none;
}

.login input[type=submit],
.login input[type=button],
.h1 {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 13px;
  margin: 40px 0 0 0;
  border-radius: 500px;
  font-weight: 600;
  animation: bounce2 1.6s;
  
  
}

.h1 {
  padding: 0;
  position: relative;
  top: -35px;
  display: block;
  margin-bottom: -0px;
  font-size: 1.3em;
  
}

#loginEmail {
  margin-top: 1px;
}

#loginPassword {
  margin-bottom: 50px;
}

#registerSubmit.btn {
  margin-top: 30px;
}
.btn {
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: #000000;
  padding: 5px !important;
  bottom: 28px;
}

.btn:hover {
  background: linear-gradient(144deg, #1e1e1e , 20%,#1e1e1e 50%,#1e1e1e );
  color: rgb(255, 255, 255);
  padding: 16px !important;
  cursor: pointer;
  transition: all 0.4s ease;
}

.login input[type=text] {
  animation: bounce 1s;
  -webkit-appearance: none;
}

.login input[type=password] {
  animation: bounce1 1.3s;
}

.ui {
  font-weight: bolder;
  background: -webkit-linear-gradient(#B563FF, #535EFC, #0EC8EE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  border-radius: 4px; /* Rounded corners for the border */
  padding: 4px 8px; /* Padding inside the border */
  display: inline-block; /* Allows applying padding and border */
  cursor: pointer; /* Changes cursor to pointer on hover */
  margin-top: 8px; /* Adds space between the login button and this link */
  text-decoration: none; /* Removes underline from link */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.ui:hover {
  background-color: #fff; /* Changes background to white on hover */
  color: #000; /* Changes text color to black on hover */
}

@media only screen and (max-width: 600px) {
  .login {
    width: 70%;
    padding: 3em;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
}

@keyframes bounce1 {
  0% {
    opacity: 0;
  }

  40% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bounce2 {
  0% {
    opacity: 0;
  }

  70% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.blur-background {
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
}

/* Add the following to your existing CSS */
#btn-message {
  display: none; /* Use flexbox for alignment */
  align-items: center;
  position: absolute; /* Absolute position to place it within the header */
  top: 25px; /* Adjust these values to match the positioning of your login button */
  right: 40px; /* This assumes the button is 40px from the right edge of the viewport */
}


.button-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 var(--font-size) Helvetica Neue, sans-serif;
  box-shadow: 0 0 2.17382px rgba(0,0,0,.049),0 1.75px 6.01034px rgba(0,0,0,.07),0 3.63px 14.4706px rgba(0,0,0,.091),0 22px 48px rgba(0,0,0,.14);
  background-color: #ffffff;
  border-radius: 68px;
  cursor: pointer;
  padding: 6px 10px 6px 6px;
  width: fit-content;
  height: 40px;
  border: 0;
  overflow: hidden;
  position: relative;
  transition: var(--btn-transition);
  z-index: 201;
  
}

.button-message:hover {
  height: auto;
  padding: 8px 20px 8px 8px;
  background-color: #ffffff;
  transition: var(--btn-transition);
}

.button-message:active {
  transform: scale(0.99);
}

.content-avatar {
  width: 30px;
  height: 30px;
  margin: 0;
  transition: var(--btn-transition);
  position: relative;
}

.button-message:hover .content-avatar {
  width: 40px;
  height: 40px;
}



.status-user {
  position: absolute;
  width: 6px;
  height: 6px;
  right: 1px;
  bottom: 1px;
  border-radius: 50%;
  outline: solid 2px var(--bg-color);
  background-color: var(--online-status);
  transition: var(--btn-transition);
  animation: active-status 2s ease-in-out infinite;
}

.button-message:hover .status-user {
  width: 10px;
  height: 10px;
  right: 1px;
  bottom: 1px;
  outline: solid 3px var(--bg-hover-color);
}

.notice-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 8px;
  text-align: initial;
  color: var(--text-color);
}

.username {
  /* Adjust the letter-spacing, opacity, and transition properties as needed */
  opacity: 1; /* Make username visible */
  transform: translateY(0); /* Reset any transformations that may hide the username */
  transition: opacity 0.2s, transform 0.2s; /* Smooth transition for hover effect */
  /* Add other properties for font-size, color, etc., as desired */
}
.user-id {
  font-size: 12px;
  letter-spacing: -6px;
  height: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: var(--btn-transition);
}

.lable-message {
  display: flex;
  align-items: center;
  opacity: 1;
  transform: scaleY(1);
  transition: var(--btn-transition);
}


.button-message:hover .user-id {
  height: auto;
  letter-spacing: normal;
  opacity: 1;
  transform: translateY(0);
  transition: var(--btn-transition);
}

.button-message:hover .lable-message {
  height: 0;
  transform: scaleY(0);
  transition: var(--btn-transition);
}

.lable-message, .username {
  font-weight: 600;
}

.number-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 8px;
  font-size: 12px;
  width: 16px;
  height: 16px;
  background-color: var(--bg-color-sup);
  border-radius: 20px;
}

/*==============================================*/
@keyframes active-status {
  0% {
    background-color: var(--online-status);
  }

  33.33% {
    background-color: #93e200;
  }

  66.33% {
    background-color: #93e200;
  }

  100% {
    background-color: var(--online-status);
  }
}



.validate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 301;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #1a1a1a, #262626); /* Gradient background with urban feel */
  color: #fff; /* White text */
}

.validate-container > .logo {
  color: #fff; /* White text */
  text-align: center;
  font-size: 70px;
  padding-bottom: 550px;
  z-index: 100;
  position: absolute;
  right: 250px;
  top: 250px;
  justify-content: space-between;
  display: inline;
}

.validate-container header > h2 {
  margin-top: 10px;
  text-align: center;
  left: 16px;
  font-size: 35px;
}

.validate-container .validate-main h3 {
  margin-top: 10px;
  text-align: center;
  top: 100px;
}

.validate-container button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.validate-container .file-upload {
  margin: 10px 0;
}



.main-header.blur-background {
  filter: blur(8px);
}

#results-container {
  background-color: #f8f9fa; /* Light grey background for contrast */
  color: #212529; /* Dark text for readability */
  padding: 20px; /* More padding for better spacing */
  border-radius: 5px; /* Rounded corners for aesthetics */
  margin-top: 20px; /* Space from the top */
  margin-bottom: 20px; /* Space from the bottom */
  width: 90%; /* Responsive width */
  max-width: 960px; /* Maximum width */
  overflow: auto; /* Scrollbar as needed */
  position: relative; /* For precise positioning */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust based on the exact width for centering */
  font-family: 'Courier New', Courier, monospace; /* Monospaced font for JSON */
  white-space: pre-wrap; /* Maintain formatting but wrap as needed */
}

#results-container pre {
  margin: 0; /* Remove default margin */
  font-size: 16px; /* Larger font size for readability */
  line-height: 1.5; /* Spacing between lines */
  white-space: pre-wrap; /* Wrap text to next line */
}

.file-label{
  font-size: 1rem;
}
.file-label svg {
  width: 1rem;
  height: 1rem;
 
}

.button.file-label{
  color: pink;
  border-radius: 0.5rem;
}

.input-field {
  color:rgb(30, 19, 99);
  font-weight: bold; 
}


/* General styles for buttons and layout */
.button {
  --glow-spread-color: rgba(216, 203, 203, 0.781); /* Light pink spread color */
  --glow-spread-color: rgba(140, 131, 131, 0.5); /* Light gray spread color */

  --btn-color: rgb(0, 0, 0); /* Black button color */
  padding: 1em 3em; /* Padding */
  color: var(--glow-color); /* Text color */
  font-weight: bold; /* Bold font */
  background-color: var(--btn-color); /* Button background color */
  border-radius: 1em; /* Rounded corners */
  outline: none; /* Remove outline */
  transition: all 0.3s; /* Transition effect */
}




.button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
}

/* Specific styles for the create invoice section */
.create-container .button {
  font-size: 23px;
  margin: 10px;
  background-color: gray;
}

.create-container .input-field {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #000000;
  border: 1px solid #000000;
  background-color:#999494;
  border-radius: 6px;
}

.create-container .input-field:focus {
  border-color: #ffffff;
  outline: none;
}

.create-container .description {
  color: rgb(255, 255, 255); 
  text-align: center;
  font-size: 1.5em;
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 301;
  padding: 20px;
  background: linear-gradient(135deg, #000000, #333333); /* Gradient background */
  color: #fff; /* White text */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Strong shadow */
}






.plan-selection {
  margin: 10px 0;
}

.plan-selection label {
  display: block;
  margin-bottom: 5px;
}

.plan-detail {
  font-size: 0.8em;
  margin-left: 22px;
  color: #666;
}




/* Rendering */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.render-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.invoice_ids {
  top: 500px;
  margin-right: auto;
  margin-left: 185px;
  border: 1px solid rgba(46, 46, 40, 0.781);
  font-size: 23px;
  z-index: 100;
  position: absolute;
  align-items: center;
  right: 825px;
  box-shadow: 0 0 10px rgba(85, 60, 40, 0.5);
  background-color: #333;
}

.invoice_ids > ul > li {
  background-color: #666; 
}

.render_buttons button {
  background-color: #999; 
  color: #fff; 
}

.render_buttons button:hover {
  background-color: #bbb; 
}

.invoice_ids > ul {
  list-style: none;
}

.invoice_ids > ul > li {
  background-color: rgba(97, 96, 96, 0.781);

  position: relative;
}

.invoice_ids > ul > li > a {
  display: block;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  color: #fff; /* 흰색 텍스트 */
  font-weight: 500;
  border-radius: 5px;
  font-size: 18px;
}

.render_buttons {
  display: none;
  position: absolute;
  top: 0%;
  left: 100%;
  background-color: #222;
  min-width: 120px;
  box-shadow: 0 0 0.5em rgba(9, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
}

.invoice_ids > ul > li:hover .render_buttons {
  display: block;
}
